/* Import FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* Dine egendefinerte CSS-stiler */

.ParcelHeader {
	color: #fff;
	font-weight: 200;
	font-weight: bold;
	font-size: 77%;
}

.ParcelInfo {
	color: #fff;
	font-weight: 200;
	font-size: 67%
}
.ParcelTimeCompact {
	font-weight: 100;
	font-size: 67;
}
